.search-room{
    width: 400px;
    height: 30px;
}

.card-room{
    height: 10rem;
}

.sub-card{
    height: 8rem;
}

@media (min-width: 320px) and (max-width: 440px ) {
    .card-room-guy{
        display: flex;
        flex-direction: column;
    }
    .card-room-girl{
        flex-direction: column;
    }
}