.info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}
.info-label {
    width: 160px; /* Biar semua label sama panjang */
    font-weight: bold;
}
.info-separator {
    width: 10px;
}
.info-value {
    flex: 1;
    font-weight: bold;
}
